<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
    Checkstyle configuration for Java code quality checks.
    Based on Google Java Style Guide with some adjustments for this project.
    See: https://checkstyle.org/google_style.html
-->

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>
    <property name="fileExtensions" value="java, properties, xml"/>

    <!-- Excludes all 'module-info.java' files              -->
    <!-- See https://checkstyle.org/filefilters/ -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="module\-info\.java$"/>
    </module>

    <!-- Checks for whitespace                               -->
    <!-- See https://checkstyle.org/checks/whitespace/ -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="LineLength">
        <property name="fileExtensions" value="java"/>
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
    </module>

    <!-- Suppress LineLength check for Mapper files (SQL annotations benefit from single-line formatting) -->
    <module name="SuppressionSingleFilter">
        <property name="files" value=".*[/\\]mapper[/\\].*Mapper\.java$"/>
        <property name="checks" value="LineLength"/>
    </module>

    <module name="TreeWalker">
        <!-- Checks for imports                              -->
        <!-- See https://checkstyle.org/checks/imports/ -->
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/> <!-- defaults to sun.* packages -->
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- Checks for common coding problems               -->
        <!-- See https://checkstyle.org/checks/coding/ -->
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>

        <!-- Checks for class design                         -->
        <!-- See https://checkstyle.org/checks/design/ -->
        <module name="FinalClass"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
            <property name="packageAllowed" value="true"/>
        </module>

        <!-- Miscellaneous other checks.                     -->
        <!-- See https://checkstyle.org/checks/misc/ -->
        <module name="ArrayTypeStyle"/>
        <module name="UpperEll"/>

        <!-- Modifier Checks                                 -->
        <!-- See https://checkstyle.org/checks/modifier/ -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!-- Checks for blocks                               -->
        <!-- See https://checkstyle.org/checks/blocks/ -->
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>

        <!-- Checks for naming conventions                   -->
        <!-- See https://checkstyle.org/checks/naming/ -->
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
    </module>
</module>
